@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: blue;
}
h1{
    text-align: center;
    padding: 10px;
    text-shadow: 3px 1px white;
}